#ingredients {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	bottom: 0;
	border-right: 1px solid black;
	padding: 5px;
}

span.ingredient {
	display: block;
}

span.highlighted {
	font-weight: bold;
}



#step {
	position: absolute;
	top: 0;
	left: 210px;
	right: 0;
	bottom: 0;
	padding: 5px;
}

#fwdBackButtons {
	position: absolute;
	right: 20px;
	bottom: 70px;
}

#backButton {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	margin-top:20px;
	background-color: #66CD00;
}

#fwdButton {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 3px;
	background-color: #458B00;
}


#timer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 40px;
	border-top: 1px solid black;
	padding: 5px;
	display: none;
}

#timerHours {
	font-size: 250%;
}

#timerMinutes {
	font-size: 250%;
}

#timerSeconds {
	font-size: 200%;
}

div.timerDone {
	color: #FF0000;
}